div.container-3baos1:before {
	content: "FlyBxmb eSports";
}
div.container-3baos1:after {
	content: "v1.1.5";
}
div.typeWindows-1za-n7>.wordmark-2iDDfm:before{
	content: "FlyBxmb eSports";
}
div.typeWindows-1za-n7>.wordmark-2iDDfm:after{
	content: "v1.1.5"
}
